<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            color: aliceblue;
            background: grey;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <h1>User Page : <%= name %>
    </h1>
    <% if(name.toLowerCase()==='john' ) { %>
        <ul>
            <% hobbies.forEach((el)=>{ %>
                <li>
                    <%= el %>
                </li>
                <% }) %>
        </ul>
        <% } %>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem in dolores autem at a dolor nam quas.
                Tempora in
                iusto dolore fugiat vitae laudantium incidunt. Sunt assumenda adipisci perferendis corporis.</p>
            <a href="/">to main page</a>
</body>

</html>