<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        body {
            color: aliceblue;
            background: grey;
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>

<body>
    <h1>Error</h1>
    <p>error error error</p>
    <a href="/">to index</a>
</body>

</html>